@import "./../../../theme/theme-variables.scss";

.sign-out-btn-container {
  position: fixed;
  z-index: 9;
  top: 7px;
  right: 7px;
}

#hero-section {
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  height: 107vh;
  position: relative;
  bottom: 200px;
  background-size: cover;
  background-position-y: 75px;
  display: flex;
  align-items: center;
  // background-position: center;
}

.wrap-hero {
}

.inner-warp {
  width: 100%;
}

.grab-offer {
  position: relative;
  top: 25px;
  width: 60%;
  padding: 20px;
  // border-radius: 65px;
  // background: white;
}

.logo-boy-img {
  width: 309px;
}

.burger-img {
  position: absolute;
  width: 242px;
  left: 241px;
  bottom: 0px;
}

.offer-text {
  font-size: 65px;
}

.top-items-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrap {
    width: 100%;
    .title {
      color: $primary;
      border-bottom: 3px solid $secondary;
      width: 133px;
      padding-bottom: 5px;
    }
    .items {
      background: transparent;
      border-radius: 5px;
      .item {
        padding: 15px 0;
        white-space: nowrap;
        p {
          margin: 0;
        }
        .intro {
          display: flex;
          justify-content: space-between;
          .name {
            // text-transform: uppercase;
            font-weight: 600;
          }
          .divider {
            margin: 0 10px;
            height: 17px;
            width: 100%;
            border-bottom: 1px dashed #00000087;
          }
          .price {
            font-weight: 600;
            .number {
            }
            .currency {
              font-style: italic;
              margin-left: 5px;
            }
          }
        }
        .details {
          color: $grey;
          font-size: 14px;
        }
      }
    }
  }
}

#full-menu {
  .menu-container {
    .full-items-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .wrap {
        width: 100%;
        .title {
          color: $primary;
          border-bottom: 3px solid $secondary;
          width: 133px;
          padding-bottom: 5px;
        }
        .items {
          background: transparent;
          border-radius: 5px;
          .item {
            padding: 15px 0;
            white-space: nowrap;
            p {
              margin: 0;
            }
            .intro {
              display: flex;
              justify-content: space-between;
              .name {
                // text-transform: uppercase;
                font-weight: 600;
              }
              .divider {
                margin: 0 10px;
                height: 17px;
                width: 100%;
                border-bottom: 1px dashed #00000087;
              }
              .price {
                font-weight: 600;
                .number {
                }
                .currency {
                  font-style: italic;
                  margin-left: 5px;
                }
              }
            }
            .details {
              color: $grey;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .menu-image-container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap-image {
      .top-img {
        position: absolute;
        width: 60%;
        top: 0;
        left: 28px;
        z-index: 2;
      }
      .bottom-img {
        position: absolute;
        width: 60%;
      }
    }
  }
}

.section-title {
  color: var(--text);
}
#feedback {
  .feedback-container {
    .feedback-form {
      width: 100%;
      .feedback-submit-btn {
        color: white;
        background: var(--btn);
      }
    }
    .all-feedbacks-container {
      .all-feedbacks {
        margin-top: 25px;
        min-height: 200px;
        max-height: 400px;
        overflow-y: scroll;
      }
    }
  }
}

@media (max-width: 480px) {
  .grab-offer {
    justify-content: center;
    text-align: center;
  }
  .offer-text {
    font-size: 30px;
  }
  .burger-img {
    width: 174px;
    left: 260px;
    bottom: 50px;
  }
  .logo-boy-img {
    position: static;
    width: 180px;
  }
  #feedback .feedback-container .all-feedbacks-container {
    margin-top: 50px;
  }
  #full-menu .menu-image-container .wrap-image .top-img {
    width: 45%;
  }
  #full-menu .menu-image-container .wrap-image .bottom-img {
    width: 45%;
  }
}
@media (max-width: 414px) {
  .grab-offer {
    top: 72px;
  }
  .burger-img {
    width: 118px;
    left: 233px;
    bottom: 56px;
  }
  .logo-boy-img {
  }
  .offer-text {
    font-size: 22px;
  }
  .btn {
    transition: all linear 0.3s;
    padding: 5px 15px;
    font-size: 14px;
  }
}
