<div class="landing-page-container">
  <!-- <section
    id="hero-section"
    [ngStyle]="{ 'background-image': 'url(' + backgroundImageUrl + ')' }"
  > -->
  <section id="hero-section">
    <div class="inner-section">
      <div class="row" style="height: 100%">
        <div class="col-7">
          <div class="grab-top-items-container">
            <div class="grab-offer">
              <img
                class="image"
                alt="offer-img"
                src="./../../../assets/images/homepage/burger_2.png"
              />
              <img
                class="burger-image"
                alt="burger-img"
                src="./../../../assets/images/homepage/burger_1.png"
              />
              <p class="title">GRAB YOUR <span>OFFERS</span> NOW!!!</p>
              <div class="btn-container">
                <button class="btn">VIEW OFFERS</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="top-items-container">
            <div class="wrap">
              <h2 class="title">Top Items</h2>

              <div class="items">
                <ng-container *ngFor="let item of topItems">
                  <div class="item">
                    <div class="intro">
                      <div class="name">
                        <p>{{ item.name }}</p>
                      </div>
                      <div class="divider">
                        <p style="visibility: hidden">-</p>
                      </div>
                      <div class="price">
                        <p>
                          <span class="number">{{ item.price }}</span
                          ><span class="currency">BDT</span>
                        </p>
                      </div>
                    </div>
                    <div class="details">
                      <p>{{ item.details }}</p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="menu-section">
    <div class="inner-section">
      <div class="row" style="height: 100%">
        <div class="col-6">
          <div class="menu-container">
            this is menu
          </div>
        </div>

        <div class="col-6">
          <div class="menu-images-container">
            this is images for menu
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
