<div class="row" style="width: 100vw">
  <div class="col-md-12">
    <div class="row common-box">
      <div class="col-md-8">
        <div style="margin-right: 0">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <nz-range-picker
                [(ngModel)]="selectedDateRange"
                (ngModelChange)="onChangeDateRange($event)"
                nzFormat="dd-MM-yyyy"
              ></nz-range-picker>

              <button
                nz-button
                nzType="default"
                (click)="
                  getSellCostByDateRange(
                    selectedDateRangeStartDate,
                    selectedDateRangeEndDate
                  )
                "
              >
                Refresh
              </button>
            </div>
            <div class="col-12">
              <div id="date-range-chart-line"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="wrap">
          <div class="accounting-info">
            <div class="item">
              <p>
                Total Sell :
                {{ dateRangeSellCostSummary.totalSell | number : "1.0-0" }} Taka
              </p>
            </div>
            <div class="item">
              <p>
                Total Cost :
                {{ dateRangeSellCostSummary.totalCost | number : "1.0-0" }} Taka
              </p>
            </div>
            <div class="item">
              <p>
                Averege Sell Per Day :
                {{ dateRangeSellCostSummary.averageSell | number : "1.0-0" }}
                Taka
              </p>
            </div>
            <div class="item">
              <p>
                Averege Cost Per Day :
                {{ dateRangeSellCostSummary.averageCost | number : "1.0-0" }}
                Taka
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row common-box">
      <div class="col-md-8">
        <div style="margin-right: 0">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <nz-date-picker
                [(ngModel)]="selectedMonth"
                (ngModelChange)="onChangeMonth($event)"
                [nzMode]="'month'"
                nzFormat="MMMM-yyyy"
              ></nz-date-picker>

              <button
                nz-button
                nzType="default"
                (click)="
                  getSellByMonth(
                    selectedMonthlyStartDate,
                    selectedMonthlyEndDate
                  )
                "
              >
                Refresh
              </button>
              <nz-time-picker
                [(ngModel)]="time"
                nzFormat="hh:mm a"
                nzUse12Hours
                (ngModelChange)="onChangeTimePicker()"
              ></nz-time-picker>
            </div>
            <div class="col-12">
              <div id="monthly-chart-line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wrap">
          <div class="accounting-info">
            <div class="item">
              <p>
                Total Sell :
                {{ monthlySellCostSummary.totalSell | number : "1.0-0" }} Taka
              </p>
            </div>
            <div class="item">
              <p>
                Total Cost :
                {{ monthlySellCostSummary.totalCost | number : "1.0-0" }} Taka
              </p>
            </div>
            <div class="item">
              <p>
                Averege Sell Per Day :
                {{ monthlySellCostSummary.averageSell | number : "1.0-0" }} Taka
              </p>
            </div>
            <div class="item">
              <p>
                Averege Cost Per Day :
                {{ monthlySellCostSummary.averageCost | number : "1.0-0" }} Taka
              </p>
            </div>

            <div class="item">
              <p>
                Averege Profit Per Day :
                {{ monthlySellCostSummary.averageProfit | number : "1.0-0" }}
                Taka
              </p>
            </div>

            <div class="item">
              <p>
                Total Profit :
                {{ monthlySellCostSummary.totalProfit | number : "1.0-0" }} Taka
              </p>
            </div>
            <div
              class="item"
              style="display: flex; align-items: center; gap: 15px"
            >
              <p>
                Other Costs : {{ monthlySellCostSummary.totalOtherCosts }} Taka
              </p>
              <button
                *ngIf="otherCostsDetail && otherCostsDetail.length > 0"
                nz-button
                nzType="default"
                (click)="toggleOtherCosts()"
              >
                {{ showOtherCosts ? "Hide Details" : "Show Details" }}
              </button>
            </div>

            <!-- Expandable view for other cost details -->
            <div class="other-cost-details" *ngIf="showOtherCosts">
              <div
                *ngFor="let cost of otherCostsDetail"
                class="other-cost-item"
              >
                <p>
                  {{ cost.title }} : {{ cost.amount | number : "1.0-0" }} Taka
                </p>
              </div>
            </div>

            <div
              class="item"
              style="display: flex; align-items: center; gap: 15px"
            >
              <p>Time Base Bonus : {{ timeBaseTotalProfit }} Taka</p>
            </div>

            <!-- Expandable view for other cost details -->
            <div class="other-cost-details">
              <div class="other-cost-item">
                <p>
                  Tanvir :
                  {{ timeBaseIndividualProfit.tanvirProfit | number : "1.0-0" }}
                  Taka
                </p>
                <p>
                  Shakil :
                  {{ timeBaseIndividualProfit.shakilProfit | number : "1.0-0" }}
                  Taka
                </p>
                <p>
                  Tarik :
                  {{ timeBaseIndividualProfit.tarikProfit | number : "1.0-0" }}
                  Taka
                </p>
              </div>
            </div>

            <div class="item">
              <p>
                Final Profit :
                {{ finalProfit | number : "1.0-0" }} Taka
              </p>
            </div>
            <div class="item">
              <p>
                Profit Per Person :
                {{ monthlySellCostSummary.profitPerPerson | number : "1.0-0" }}
                Taka
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
