.col-md-6 {
  // padding: 0;
}
.common-box {
  margin: 24px;
  padding: 24px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0 0 11px 2px #ebebeb;
  border-radius: 7px;
}
.row .common-box:nth-child(odd) {
  margin-right: 0;
}
.row .common-box:nth-child(even) {
  margin-left: 0;
}

.wrap {
  border-left: 1px solid #e6e6e6;
  padding-left: 23px;
  .accounting-info {
    .item {
      font-size: 16px;
      font-weight: 600;
      padding: 5px 10px;
      border-bottom: 1px solid #e6e6e6;
      border-radius: 20px;
      margin: 11px 0;
      p {
        margin: 0;
      }
    }
    .other-cost-details {
      padding: 0 0 0 25px;
    }
  }
}
