// $primary: #5b73a6;
// $secondary: #e77885;

$primary: #43766c;
$secondary: #e79460;

$black: black;
$white: white;
$dark: black;
$grey: grey;

$heading: #494949;

//bootstrap colors##17a2b8
$bootstrapSuccess: #28a745;
$bootstrapSuccessHover: #13832d;
$bootstrapDanger: #cb4c59;
$bootstrapInfo: #17a2b8;
