<!-- Footer Start -->
<div class="container-fluid footer bg-light py-5" style="margin-top: 90px">
  <div class="container text-center py-5">
    <div class="row">
      <div class="col-12 mb-4">
        <a href="index.html" class="navbar-brand m-0">
          <!-- <h1 class="m-0 mt-n2 display-4 text-primary">
              <span class="text-secondary">i</span>CREAM
            </h1> -->
          <img
            class="logo"
            src="assets/images/logo/official-logo.jpg"
            alt="logo"
          />
        </a>
      </div>
      <div class="col-12 mb-4">
        <a class="btn btn-outline-secondary btn-social mr-2" href="#">
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>
        </a>
        <a class="btn btn-outline-secondary btn-social mr-2" href="#">
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>
        </a>
        <a class="btn btn-outline-secondary btn-social mr-2" href="#"
          ><i nz-icon nzType="caret-right" nzTheme="outline"></i
        ></a>
        <a class="btn btn-outline-secondary btn-social" href="#"
          ><i nz-icon nzType="caret-right" nzTheme="outline"></i
        ></a>
      </div>
      <div class="col-12 mt-2 mb-4">
        <div class="row">
          <div
            class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0"
          >
            <h5 class="font-weight-bold mb-2">Get In Touch</h5>
            <p class="mb-2">90, Dewanhat Circle, Double Mooring, Chattogram.</p>
            <p class="mb-0">+880-1982259585</p>
          </div>
          <div class="col-sm-6 text-center text-sm-left">
            <h5 class="font-weight-bold mb-2">Opening Hours</h5>
            <p class="mb-2">Sat – Thursday, 4PM – 10PM</p>
            <p class="mb-0">Friday: Closed</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p class="m-0">
          &copy; <a href="#">Street Admin</a>. All Rights Reserved. Designed by
          <a href="#">Tanvir</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
