#navbarCollapse {
  border-radius: 68px;
  box-shadow: 0 0 15px -5px #474747;
}
.logo {
  width: 62px;
  height: 75px;
}
.title {
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  #navbarCollapse {
    padding: 10px;
    border-radius: 8px;
  }
}
